
<% getLocales().forEach(locale =>{%>
    <a class='a-lenguajes' href="/chance-locale/<%= locale %>"><%= locale %></a>&nbsp;
    <% }) %>

<h1 class="tittle-cabecera"><%= __('Second Hand Page') %>: <%= title %></h1>